<%= form_with(model: @comment, url: micropost_comments_path, method: :post) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new comment..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>